@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

// defaults 
$background-color: #0D2A35;
$text-color: #F2EFE9;
$text-font: 'Urbanist', sans-serif;
